@font-face {
  font-family: 'Family';
  src: url('fonts/Family-Regular.ttf') format('truetype'),
}

:root {
  --bg: #FBF9F5;
  --black: rgba(0, 0, 0, 0.9);;
  --blue: #0064E6;

  --max-width: 980px;
}

html,
body {
  font-family: "Family", serif;
  background-color: var(--bg);
  color: var(--black);
  height: 100%;
  margin: 0;
  font-size: 21px;
  line-height: 28px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none; 
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  max-width: 75ch;
}

a:hover {
  color: var(--blue)
}

.toolbar-container {
  margin: 32px auto;
  max-width: var(--max-width);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-block: 24px;
}

.toolbar-action-container {
  display: flex;
  gap: 24px;
}

.toolbar-action {
  font-size: 28px;
}

.layout {
  margin: 40px auto 40px;
  padding: 0 24px 48px;
  max-width: var(--max-width);
}

.header-layout {
  display: flex;
  gap: 24px;
  margin: 72px auto 56px;
}

.left-col, .right-col {
  display: flex;
  flex: 1;
}

.header-section {
  margin-bottom: 40px;
}

.header-section h1 {
  max-width: 20ch;
}

.right-col {
  flex: 0.8;
}

.right-col img {
  width: 100%;
  border-radius: 15px;
}


h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 120%;
}

.logo-title {
  text-align: center;
  padding-top: 40px;
}

.logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 150px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-flex !important;
  gap: 12px;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 12px 24px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.content-section-title {
  font-size: 28px;
}




@media screen and (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}